/*generated_code/*
/blockset_*
/slprj/*
/builds/*
/blockset/blocks/*.mex*
~*
*.slx.autosave
*.map
/*.m
!GOcontroll_Simulink_version.m
*.zip
crank_files/
*.slxc
*.autosave
*.mltbx
.vscode/*
!.vscode/*shared.json
!.vscode/extensions.json